/**
 * styles.css
 *
 * Computer Science 50
 * Problem Set 7
 *
 * Global CSS.
 */

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#middle .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;
}

#uppercase 
{
	text-transform: uppercase;
}

#my_table
{
	color: #428BCA; 
	width: 100%;
	background-color: #fff;
	margin: auto;
}


#navigation ul
{
	/*float: left;*/	
	width: 100%;	
	/*margin: center;*/
	left: 15%;	
	text-align: center;
	position: relative;
}
#navigation li 
{
	right: 50%	
	display: inline-block; 
	position: relative;
}		
	
	
	
}

